#adCarousel {
    display: flex;
    overflow: hidden;
}

.ad-container {
    width: 98%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .ad-container {
        max-width: 100%;
    }
}
