body {
    font-family: "Nunito", sans-serif;
    color: #444242;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #25ABBE;
}

::-webkit-scrollbar-thumb:hover {
    background: #1A6DAF;
}

.col-md-6 {
    margin-bottom: 20px;
}

.form-label {
    font-size: 16px;
}

.form-control {
    border: 1px solid rgba(26, 109, 175, 0.3);
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.list-group-item {
    margin-top: 10px;
}

.admin-container {
    padding: 20px 0;
}

.tab-link {
    margin-right: 20px;
    font-family: "Nunito", sans-serif;
    color: #444242;
    background: none;
    border: none;
    outline: none;
    text-align: left;
}

.tab-content {
    display: none;
}

.tab-content-title {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #444242;
    border-bottom: 2px solid #25ABBE;
}

.isVisible {
    display: block;
}

.hidden {
    display: none;
}

.branches-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    background: rgba(26, 109, 175, 0.2);
    padding: 10px 14px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.branches-table-header div, .branches-table-item div {
    min-width: 50px;
    width: 100px;
    max-width: 100px;
}

.branches-table-content {
    padding: 10px 14px;
}

.branches-table-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.active {
    color: #25ABBE;
}

.action-btn-wrapper {
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    color: #25ABBE;
    font-size: 16px ;
    cursor: pointer;
}

.add-branch-title {
    font-weight: 600;
    color: #25ABBE;
}

.btn {
    display: inline-block;
}

.btn-relevance-branch {
    background: #EFEFEF;
}

.active-btn {
    background: rgba(26, 109, 175, 0.2);
}

.branch-delete-btn {
    width: 22px;
    height: 22px;
    background: url("../images/ic-delete.png") center no-repeat;
    background-size: 20px;
}

.branch-edit-btn {
    width: 24px;
    height: 24px;
    background: url("../images/ic-edit.png") center no-repeat;
    background-size: 20px;
}

.branch-deactivate-btn {
    width: 24px;
    height: 24px;
    background: url("../images/ic-deactivate.png") center no-repeat;
    background-size: 20px;
}

.btn-save, .edit-btn-save {
    background: #1A6DAF;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 30px;
    border: none;
    outline: none;
}

.edit-btn-save {
    display: flex;
    justify-content: right;
}

.edit-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 800px;
    max-height: 90%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    overflow: auto;
}

.edit-modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.edit-form-field {
    margin-bottom: 10px;
}

.modal-close-button {
    width: 24px;
    height: 24px;
    background: url("../images/ic-close.png") center no-repeat;
    background-size: 20px;
    cursor: pointer;
}

.blur-bg {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-y: scroll;
}

.category-container {
    background: rgba(37, 171, 190, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-name {
    cursor: pointer;
    transition: all 0.3s;
}

.category-name:hover {
    color: #1A6DAF;
}

.category-btn {
    color: #1A6DAF;
    font-size: 14px;
    border: 1px solid #1A6DAF;
    border-radius: 6px;
    margin-right: 10px;
}

.category-btn-delete {
    color: #F24141;
    border-color: #F24141;
}

.subcategory-btn-delete {
    width: 22px;
    height: 22px;
    background: url("../images/ic-delete.png") center no-repeat;
    background-size: 20px;
}

.subcategory-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 6px 20px;
}

.btn-add-category {
    background: #1A6DAF;
    color: #fff;
}

.category-pane-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
