body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.club-container {
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    font-size: 20px;
}

input[type="text"],
button {
    padding: 8px 12px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #1A6DAF;
    color: white;
    cursor: pointer;
}

#resultContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#categoriesContainer,
#subcategoriesContainer {
    margin-top: 20px;
}

#categoriesContainer button,
#subcategoriesContainer button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    border: 2px solid #1A6DAF;
    border-radius: 15px;
    background-color: #f2f2f2;
    color: #1A6DAF;
    cursor: pointer;
}


#categoriesContainer button:hover,
#subcategoriesContainer button:hover {
    background-color: #66a3ff;
    color: #fff;
}


.clubCard {
    width: calc(33% - 20px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

.clubCard img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.clubCard h3 {
    font-size: 23px;
    margin-bottom: 5px;
}

.clubCard p {
    font-size: 14px;
}

.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social-links {
    display:flex;
    margin-top: 10px;

}

.footer-social-links img {
    width: 30px;
    height: auto;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination__list {
    display: flex;
    list-style-type: none;
}

.pagination__item {
    padding: 8px;
    margin: 8px;
    cursor: pointer;
}

.pagination__item--active {
    font-weight: 800;
    color: gold;
}

.rating-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
}

.star {
    color: gold;
    font-size: 27px;
}

.rating {
    margin-left: -72px;
    margin-top: -10px;
}

@media screen and (max-width: 768px) {
    .star {
        font-size: 10px;
    }
}
