.user-functions {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 20px;
}

.function-item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.function-item img {
    margin-right: 10px;
    width: 26px;
}

.btn-primary {
    background-color: #25ABBE;
    border: none;
}

.children-list {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-container {
    height: 300px;
    overflow-y: auto;
}