.footer-social-links img {
    width: 35px;
    height: 35px;
}

.copyright {
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 1000px) {
    .logo-pic {
        display: block;
        margin: 0 auto;
    }

    .nav.flex-column {
        text-align: center;
    }

    .footer-social-links {
        justify-content: center;
    }

    .copyright {
        text-align: center;
    }
}
