#loginForm{
    top: 0;
    position: relative;
    justify-items: center;
    box-sizing: border-box;

    width: 100%;
}

.row{
    padding-top: 7%;
}

.card {
    width: 100%;
    margin-left: 10%;

    max-width: 400px;
    margin-bottom: 20px;

    border-style: none!important;
}

.card-title{
    text-align: center;
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;

    color: #444242;
}

.form-group{
    position: relative;

    width: 100%;
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

    color: #444242;
}

.fa-eye{
    color: rgba(26, 109, 175, 0.5);
}

.form-control, .input-group-append, .form-check-input{
    border: 1px solid rgba(26, 109, 175, 0.5)!important;
    border-radius: 8px;
}

.btn{
    width: 100%;
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;

    background: #1A6DAF!important;
    border-radius: 8px;
    border-style: none!important;
}

@media (max-width: 1100px) {
    .card {
        margin-left: 0;
    }
}

@media (max-width: 1000px) {
    .card {
        margin-left: 0;
    }
    .row{
        padding-top: 23%;
    }
}

@media (max-width: 770px) {
    .card {
        margin-left: 5%;
    }
    .row{
        padding-top: 33%;
    }
}
