#imageContainer {
    width: 450px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#child-info{
    margin-top: 150px;
    padding-top: 50px;
}

.imageItem {
    width: 200px;
    height: 200px;
    margin: 10px;
}